body {
    background-color:beige;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: bisque;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: darkmagenta;
    padding: 25px;
    border-radius: 15px;
    margin: 20px;
}

.content {
    background-color: bisque;
    color:darkmagenta;
    border-radius: 15px;
    margin: 20px;

}

.content p {
    padding:10px;
}

.content img {
    width: auto;
}

#whatsapp {
    text-align: center;
    padding-bottom: 10px;
}

.nav {
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    margin:10px;
}

a {
    padding: 10px;
}

img {
    width: 100%;
    padding-top: 15px
}

.nav a {
    background-color: cadetblue;
    border-radius: 10px;
    color: aqua;
}

.sponsers {
    background-color: bisque;
    color:darkmagenta;
    border-radius: 15px;
    margin: 20px;
}

.sponsers p {
    padding: 10px;
}

.gallery p {
    background-color: gold;
    font-family:monospace;
    font-size: 1.5em;
}